* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a,
a:hover {
  display: inline-block;
  text-decoration: none !important;
}
.container {
  max-width: 1170px;
  margin: 0 auto;
}
